# BEGIN WordPress

RewriteEngine On
RewriteBase /american/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /american/index.php [L]

# END WordPress
